
<div class="card" style="width: 40rem; filter: drop-shadow(0 0 0.15rem grey); margin-right:auto; margin-left:auto;">
  
  <div class="card-body">
    <h2> Bienvenue  sur votre profil, <%= @owner.first_name %> <%= @owner.last_name %> ! </h2>
    <p class="card-text">Id : <%= @owner.id %></p>
    <p class="card-text">Adresse de votre propriété : <%=@building.adress%></p>
    <p class="card-text">Votre numéro de téléphone : <%=@owner.phone_number%></p> 
    <p class="card-text">Votre adresse email : <%=@owner.email%></p> <br />
    <p class="card-text">Votre agence : <%=@agency.name%></p>
    <p class="card-text">Localisée au : <%=@agency.adress%>, à <%=@agency.city%></p>
    <p class="card-text">Vous pouvez la contacter au : <%=@agency.phone_number%></p>
    <br />
    <%= link_to "Editer les informations", edit_agency_building_owner_path(params[:agency_id], params[:building_id], params[:id]), class:"btn bt-theme  p-2 shadow rounded-pill"%>
    <%= link_to "Editer le mot de passe", edit_owner_registration_path(current_owner), class:"btn btn-success  p-2 shadow rounded-pill"%>

  </div>
</div>




