<div class="mr-3" style="float: right;">
	<% if current_agency %>
		<%= link_to "Créer un Evenement",  new_agency_building_event_path, method: :get, class:"btn bt-theme  p-2 shadow rounded-pill"%>
	<% end %>                                    
</div>
<div class="col-xl-12 margin-top" >
	<div class="card" style="margin-right:25%; margin-left: 25%;">
		<div class="card-body" >
        <h4 class="card-title">Les événements de mon immeuble :</h4>
        <div class="basic-list-group"
          <div class="list-group">
						<% cnt = 0 %>
						<% @events.each do |event| %>
							<% if event.building_id == params[:building_id].to_i %>
								<div class="dropdown2">
									<% if current_agency %>
										<div class="dropdown2-content" style="margin-left: 81%; margin-top: 2%;">
											<%= link_to "Modifier", edit_agency_building_event_path(params[:agency_id], params[:building_id], event.id), class: "btn mb-1 dropbtn3 mt-3 mr-1"%>
											<%= link_to "Supprimer", agency_building_event_path(params[:agency_id], params[:building_id], event.id), method: :delete, class:"btn mb-1 dropbtn4 mr-1" %>
										</div>
									<% end %> 
                	<a class="list-group-item list-group-item-action flex-column align-items-start">
                  	<div class="d-flex w-100 justify-content-between">
                    	<h5 class="mb-1"><%= event.title %></h5><small>Evénement prévu le : <%= event.datetime %></small>
                  	</div>
                  	<p class="mb-1 "><%= event.description %></p>
										<div>
											<p><small>Durée : <%= event.duration %> minutes.</small>
											<p>
										</div>
                  </a>
								</div>
							</div>
							<% cnt+=1 %>
						<% end %>
					<% end %>
						<% if cnt == 0%>						
							<h2 class="mb-1 text-center">Aucun événement prévu !</h2>
						<% end %>
					</div>
        </div>							
      </div>
		</div>
	</div>
</div>


				