	
	<div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= event.title %></li>
          <li class="list-group-item">Description : <%= event.description %></li> 
					<li class="list-group-item">Début de lévénement : <%= event.datetime %></li>
          <li class="list-group-item">Durée en minutes : <%= event.duration %></li> 
					<li class="list-group-item">Créé le : <%= event.created_at %></li> 
        </ul>
        </div> 
