
<body>
  <div class="login-form-bg h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="col-xl-6">
          <div class="form-input-content">
            <div class="card login-form mb-0">
              <div class="card-body pt-5">
                <a class="text-center" href="/"> <h2>Mettre vos informations à jour</h2></a>
                  <div class="mt-5 mb-5 login-input">
                    <div class="form-group container" style="width: 30rem;">
                      <%= form_tag agency_path(params[:id]), method: "patch" do %>

                      <%= label_tag 'Nom' %>
                      <%= text_field_tag 'name', @agency.name, class: "form-control mb-2" %>

                      <%= label_tag 'Ville' %>
                      <%= text_area_tag 'city', @agency.city, class: "form-control mb-2" %>

                      <%= label_tag 'Adresse' %>
                      <%= text_area_tag 'adress', @agency.adress, class: "form-control mb-2" %>

                      <%= label_tag 'Numéro de téléphone' %>
                      <%= text_field_tag 'phone_number', @agency.phone_number, class: "form-control mb-2" %>

                      <%= label_tag 'SIREN' %>
                      <%= text_area_tag 'siren', @agency.siren, class: "form-control mb-2" %>                    
                      <br />
                      <%= file_field_tag :avatar, class: "btn mb-4 ml-5"%>
                      <%= submit_tag "Editer vos informations", class: "btn login-form__btn submit w-100" %>

                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> 
