
<div class="mr-3" style="float: right;">
<%= link_to "Créer un immeuble",  new_agency_building_path, method: :get, class:"btn btn-theme3  p-2 shadow rounded-pill"%>                                    
</div>

<div class="container margin-form-nav">

  <div class="row">
  
    <% @buildings.each do |building| %>
      <% if building.agency.id == current_agency.id%> 
        <div class="col-md-4">
          <div class="card text-center ml-5" style="width: 18rem;">
            <%if building.avatar.attached?%>
  <%= image_tag building.avatar.variant(resize: "300x200"), alt: 'avatar', class: "card-img-top" %>
<%else%>
   <img class="card-img-top" src="https://www.cartefinancement.com/wp-content/uploads/2019/10/vir-1024x682.jpg" alt="Card image cap">
<%end%>
            <div class="card-body">
              <h5 class="card-title"><%= building.name%></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= building.adress%></li>
              <li class="list-group-item">Id de l'immeuble : <%= building.id %></li> 
            </ul>
              <div class="card-body">
                <%= link_to "Afficher cet immeuble",  agency_building_path(params[:agency_id], building.id), method: :get, class:"btn btn-theme2  p-2 shadow rounded-pill"%>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>




