<h1>Page new building</h1>
<div class="form-group container" style="width: 30rem;">
  <%= form_tag agency_buildings_path, method: "post" do %>

  <%= label_tag 'Titre' %>
  <% text_field_tag 'agency_id', params[:agency_id] %>
  <%= text_field_tag 'name', @building.name, class: "form-control mb-2" %>

  <%= label_tag 'Adresse' %>
  <%= text_area_tag 'adress', @building.adress, class: "form-control mb-2" %>

  <%= label_tag 'Reference' %>
  <%= text_field_tag 'reference', @building.reference, class: "form-control mb-2" %>

  <%= submit_tag "Créer un immeuble", class: "form-control btn btn-primary" %>

  <% end %>
</div>