<h1>Page show immeuble vue agence</h1>

<h2>Nom de l'immeuble : <%= @building.name %></h2>
<h3>Id de l'immeuble : <%= @building.id %></h3>
<h3>Adress : <%= @building.adress %></h3>
<h3>Reference : <%= @building.reference %></h3>
<h3>Crée le : <%= @building.created_at %></h3>

<img src="<%= @building.picture %>">
  