<body>
  <div class="login-form-bg h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="col-xl-6">
          <div class="form-input-content">
            <div class="card login-form mb-0 margin-form">
              <div class="card-body pt-5">
                <a class="text-center" href="index.html"><h4>Se connecter</h4></a>
                <div class="mt-5 mb-5 login-input">
                  <%= form_for(resource, as: resource_name,class: "mt-5 mb-5 login-input", url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", type: "email" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "Mot de passe", type: "password" %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me, class: "form-check-input" %>
                        <%= f.label :rester_connecté, class: "form-check-label" %>
                      </div>
                    <% end %>
                    <div class="actions">
                      <%= f.submit "Se connecter", class: "btn login-form__btn submit w-100" %>
                    </div>
                </div>
                <% end %>
                <%= render "agencies/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>