<% if agency_signed_in? %>  

<%-# code de la sidebar Agency -%>
  
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header mb-4">
            <div class="brand-logo">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
              <div class="bt-theme" style="height : 80px">
                <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
              </div>
                <ul class="metismenu" id="menu">
                <li class="nav-">
        </li>
        <li class="nav-label">Dashboard</li>
          <li>
            <span> <%= link_to "Immeubles", agency_buildings_path(current_agency.id), class: "nav-text"%> </span> </li>
          </li>
  
          <li>
            <span> <%= link_to "Propriétaires", all_owners_path(current_agency.id), class: "nav-text"%> </span> </li>
          </li>
  
          <li>
            <span> <%= link_to "Événements", class: "nav-text"%> </span> </li>
          </li>

          <li>
            <span> <%= link_to "Messagerie", class: "nav-text"%> </span> </li>
          </li>       
      </ul>
    </div>
            <div class="nk-nav-scroll  sidebar-footer">
                <ul class="metismenu" id="menu">
          <li>
            <span> <%= link_to "Mon Agence", agency_path(current_agency.id), class: "nav-text"%> </span> </li>
          </li>   

          <li>
            <span> <%= link_to "Déconnexion", destroy_agency_session_path, method: :delete, class: "nav-text"%> </span> </li>
          </li>      

        </li>
      </ul>
    </div>
  </div>
        <!--**********************************
            Sidebar end
        ***********************************-->


<% elsif owner_signed_in? %>
<%-# code de la navbar Owner -%>

<!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header mb-4">
            <div class="brand-logo">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
              <div class="bt-theme" style="height : 80px">
                <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
              </div>
                <ul class="metismenu" id="menu">
                <li class="nav-">
        </li>
        <li class="nav-label">Dashboard</li>

              <li>
                <span> <%= link_to "Mon Immeuble", class: "nav-text"%> </span> </li>
              </li>

              <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                  <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Messagerie</span>
              </a>
              <ul aria-expanded="false">
                <li>
                  <span> <%= link_to "Messagerie Agence", class: "nav-text"%> </span> </li>
                </li>
                <li>
                  <span> <%= link_to "Messagerie Immeuble", class: "nav-text"%> </span> </li>
                </li>
              </ul>
            </li>

            <li>
            <span> <%= link_to "Événements", class: "nav-text"%> </span> </li>
            </li>
          </li>
        </ul>
      </div>
      <div class="nk-nav-scroll  sidebar-footer">
        <ul class="metismenu" id="menu">
          <li>
            <span> <%= link_to "Mon Profil", agency_building_owner_path(current_owner.building.agency_id, current_owner.building.id, current_owner.id), class: "nav-text"%> </span> </li>
          </li>   

          <li>
            <span> <%= link_to "Déconnexion", destroy_owner_session_path, method: :delete, class: "nav-text"%> </span> </li>
          </li>      

        </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

<% end %>