<!DOCTYPE html>
<html>
  <head>
    <title>MainHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <div class="row">
      <%= render 'layouts/navbar'%> 
    </div>
  </header>

  <body>

    <div class="container">
    
      <% if agency_signed_in? || owner_signed_in?%>  
        <% flash.each do |key, value| %>
          <div class="alert alert-info ml-3 float-left" style="width: 200%"><%= value %></div>
        <% end %>
      <% end %>
      
      <%= yield %>

    </div>
    
  </body>

  <footer>
  <%= link_to 'Retour', :back, style:"margin-left: 15%;", class:"fixed-bottom mb-3" %>
  </footer>
</html>
