
<!DOCTYPE html>
<html>
  <head>
    <title>MainHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="bodyt">
<section>
	<div class="container py-4">
		<div class="float-right">
			<div class="btn">
				<%= button_to "S'inscrire", new_agency_registration_path, method: :get, class:"btn bt1-lp p-2 bt-landing"%>
			</div>
			<div class="dropdown">
  			<button class="dropbtn ">Se connecter</button>
  			<div class="dropdown-content">
					<%= link_to "Agence",  new_agency_session_path, class:"btn p-2"%>
					<%= link_to "Propriétaire",  new_owner_session_path, class:"btn p-2"%>
  			</div>
			</div>
		</div>
	</div>
</section>    

<section>  
  <div class="container py-4 margin-top">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="welcome-text-area">
          <h1  style="visibility: visible;">La plateforme Saas dédiée à la gestion des copropriétés</h1>
          <h5  style="visibility: visible;">Apland is a completely creative, lightweight, clean &amp; super responsive app landing page. Put your app sales or promotions into next level with it.</h5>
        </div>
      </div>
        <div class="col-md-7">
          <div class="">
            <%= image_tag("landing/landing.png", height: '500', width: '800', alt: "rss feed") %>
          </div>  
        </div>
      </div>
    </div>
      <div class="container">
        <div class="welcome-border"></div>
      </div>
		</div>
	</div>
</section>

		<hr>
    
<section>
  <div class="container py-5">
    <div class="row text-center align-items-end">
      <div class="col-lg-4 mb-5 mb-lg-0">
      	<div class="" style="width: 18rem;">
      		<img class="card-img-top rounded-circle pimg border-theme" src="https://graphiste.com/blog/wp-content/uploads/2017/03/logo-immobilier-8.png" alt="Card image cap">
      		<div class="card-body">
        		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      		</div>
      	</div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
      	<div class="" style="width: 18rem;">
      		<img class="card-img-top rounded-circle pimg border-theme" src="https://graphiste.com/blog/wp-content/uploads/2017/03/logo-immobilier-8.png" alt="Card image cap">
      		<div class="card-body">
        		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      		</div>
      	</div>
      </div>
      <div class="col-lg-4">
      	<div class="" style="width: 18rem;">
      		<img class="card-img-top rounded-circle pimg border-theme" src="https://graphiste.com/blog/wp-content/uploads/2017/03/logo-immobilier-8.png" alt="Card image cap">
      		<div class="card-body">
        		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</section>

<hr>

<section>
	<div class="container py-5">
  	<div class="row text-center align-items-end">
    	<div class="col-lg-4 mb-5 mb-lg-0">
      	<div class="bg-white p-5 rounded-lg shadow">
        	<h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
        	<h2 class="h1 font-weight-bold">$199<span class="text-small font-weight-normal ml-2">/ month</span></h2>
        	<div class="custom-separator my-4 mx-auto bg-theme"></div>
        		<ul class="list-unstyled my-5 text-small text-left">
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          		<li class="mb-3">
           			<i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          		<li class="mb-3 text-muted">
            		<i class="fa fa-times mr-2"></i>
            		<del>Nam libero tempore</del>
          		</li>
          		<li class="mb-3 text-muted">
            		<i class="fa fa-times mr-2"></i>
            		<del>Sed ut perspiciatis</del>
          			</li>
          		<li class="mb-3 text-muted">
            		<i class="fa fa-times mr-2"></i>
            		<del>Sed ut perspiciatis</del>
          	</li>
        	</ul>
        	<a href="#" class="btn bt-theme btn-block p-2 shadow rounded-pill">Subscribe</a>
      	</div>
    	</div>
    	<div class="col-lg-4 mb-5 mb-lg-0">
      	<div class="bg-white p-5 rounded-lg shadow">
        	<h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
        	<h2 class="h1 font-weight-bold">$399<span class="text-small font-weight-normal ml-2">/ month</span></h2>
        	<div class="custom-separator my-4 mx-auto bg-theme"></div>
        		<ul class="list-unstyled my-5 text-small text-left font-weight-normal">
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Nam libero tempore</li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          		<li class="mb-3 text-muted">
            		<i class="fa fa-times mr-2"></i>
            		<del>Sed ut perspiciatis</del>
          		</li>
        		</ul>
        		<a href="#" class="btn bt-theme btn-block p-2 shadow rounded-pill">Subscribe</a>
      		</div>
    		</div>
    			<div class="col-lg-4">
      			<div class="bg-white p-5 rounded-lg shadow">
        			<h1 class="h6 text-uppercase font-weight-bold mb-4">Enterprise</h1>
       				<h2 class="h1 font-weight-bold">$899<span class="text-small font-weight-normal ml-2">/ month</span></h2>
        			<div class="custom-separator my-4 mx-auto bg-theme"></div>
        				<ul class="list-unstyled my-5 text-small text-left font-weight-normal">
          				<li class="mb-3">
            				<i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          				<li class="mb-3">
            				<i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          				<li class="mb-3">
            				<i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          				<li class="mb-3">
            				<i class="fa fa-check mr-2 text-primary"></i> Nam libero tempore</li>
          				<li class="mb-3">
            				<i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          				<li class="mb-3">
            				<i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
        				</ul>
        				<a href="#" class="btn bt-theme btn-block p-2 shadow rounded-pill">Subscribe</a>
      				</div>
    				</div>
  				</div>
 				</div>
			</div>
		</div>
	</div>
</section>


<h3 class="banner ">
  <div class="wrap text-center ">Contactez l'équipe mainhouse pour un plan personnalisé au 07.66.38.94.57</div>
</h3>
</html>
</body>