
<!DOCTYPE html>
<html>
  <head>
    <title>MainHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="bodyt">
<section>
	<div class="container py-4">
		<div class="float-right">
			<div class="btn">
				<%= button_to "S'inscrire", new_agency_registration_path, method: :get, class:"btn bt1-lp p-2 bt-landing"%>
			</div>
			<div class="dropdown">
  			<button class="dropbtn ">Se connecter</button>
  			<div class="dropdown-content">
					<%= link_to "Agence",  new_agency_session_path, class:"btn p-2"%>
					<%= link_to "Propriétaire",  new_owner_session_path, class:"btn p-2"%>
  			</div>
			</div>
		</div>
	</div>
</section>    
<section>  
  <div class="container py-4 margin-top">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="welcome-text-area">
          <h1  style="visibility: visible;">La plateforme Saas dédiée à la gestion des copropriétés</h1>
          <p  class="mt-3" style="visibility: visible;">MainMouse est le premier service dédié aux agences et aux propriétaires pour gérer et faire vivre leurs copropriétés. Messagerie personnalisée, gestion d'événements, nous avons pensé à tout !</p>
					<h5 style="visibility: visible;">Vous êtes une agence ? Découvrez notre offre ci-dessous :</h5>
        </div>
      </div>
        <div class="col-md-7">
          <div class="">
            <%= image_tag("https://trello-attachments.s3.amazonaws.com/604b5977334aa181b02020da/604cb4f38412ed8819d8fc63/ba009e48173baf6a2e72e05feeaa2c2a/image_accueil.png", height: '500', width: '800', alt: "rss feed") %>
          </div>  
        </div>
      </div>
    </div>
      <div class="container">
        <div class="welcome-border"></div>
      </div>
		</div>
	</div>
</section>

<hr class="mt-5 mb-5 mx-auto" style="width: 50%;">
    
<section>
  <div class="container py-5">
    <div class="row text-center align-items-end">
      <div class="col-lg-4 mb-5 mb-lg-0">
      	<div class="" style="width: 18rem;">
      		<img class="card-img-top rounded-circle pimg border-theme" src="https://trello-attachments.s3.amazonaws.com/604b5977334aa181b02020da/604cb4f38412ed8819d8fc63/4a34fc2a93162b301ee049f1fd3e3b79/immeuble.png" alt="Card image cap">
      		<div class="card-body">
        		<p class="card-text">Gérez les copropriétés de tous vos immeubles sur une seule plateforme</p>
      		</div>
      	</div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
      	<div class="" style="width: 18rem;">
      		<img class="card-img-top rounded-circle pimg border-theme" src="https://trello-attachments.s3.amazonaws.com/604b5977334aa181b02020da/604cb4f38412ed8819d8fc63/63d83744f66f1d9e91a1bda3c12ea060/humains.png" alt="Card image cap">
      		<div class="card-body">
        		<p class="card-text">Faites vivre votre copropriété grâce à une messagerie dédiée à chaque immeuble</p>
      		</div>
      	</div>
      </div>
      <div class="col-lg-4">
      	<div class="" style="width: 18rem;">
      		<img class="card-img-top rounded-circle pimg border-theme" src="https://trello-attachments.s3.amazonaws.com/604b5977334aa181b02020da/604cb4f38412ed8819d8fc63/477282a9f89971a6926746a888984436/evenement.png" alt="Card image cap">
      		<div class="card-body">
        		<p class="card-text">Retrouvez tous les événements liés à vos copropriétés au même endroit</p>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</section>

<hr class="mt-5 mb-5 mx-auto" style="width: 50%;">

<section>
	<div class="container py-5">
  	<div class="row text-center align-items-end">
    	<div class="col-lg-4 mb-5 mb-lg-3">
      	<div class="bg-white p-5 rounded-lg shadow">
        	<h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
        	<h2 class="h1 font-weight-bold">€ 59,99<span class="text-small font-weight-normal ml-2">/mois HT</span></h2>
        	<div class="custom-separator my-4 mx-auto bg-theme"></div>
        		<ul class="list-unstyled my-5 text-small text-left">
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Premier mois gratuit </li>
							<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Sans engagement </li>
          		<li class="mb-3">
           			<i class="fa fa-check mr-2 text-primary"></i> De 1 à 9 immeubles </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Accès à une messagerie par immeuble </li>
							<li class="mb-3">	
            		<i class="fa fa-check mr-2 text-primary"></i> Calendrier par immeuble et mutualisé </li>
        	</ul>
        	<a href="#" class="btn bt-theme btn-block p-2 shadow rounded-pill" style="background-color: #ff9F1C;">Inscrivez-vous</a>
      	</div>
    	</div>
    	<div class="col-lg-4 mb-5 mb-lg-3">
      	<div class="bg-white p-5 rounded-lg shadow">
        	<h1 class="h6 text-uppercase font-weight-bold mb-4">Premium</h1>
        	<h2 class="h1 font-weight-bold">€ 99,99<span class="text-small font-weight-normal ml-2">/mois HT</span></h2>
        	<div class="custom-separator my-4 mx-auto bg-theme"></div>
        		<ul class="list-unstyled my-5 text-small text-left font-weight-normal">
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Premier mois gratuit </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Sans engagement </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> De 10 à 19 immeubles </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Accès à une messagerie par immeuble </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Calendrier par immeuble et mutualisé </li>
        		</ul>
        		<a href="#" class="btn bt-theme btn-block p-2 shadow rounded-pill" style="background-color: #ff9F1C;">Inscrivez-vous</a>
      		</div>
    		</div>
    			<div class="col-lg-4 mb-lg-3">
      			<div class="bg-white p-5 rounded-lg shadow">
        			<h1 class="h6 text-uppercase font-weight-bold mb-4 mt-2">Personnalisé</h1>
       				<h2 class="h2 font-weight-bold">Contactez-nous<span class="text-small font-weight-normal ml-2"></span></h2>
        			<div class="custom-separator my-4 mx-auto bg-theme"></div>
        				<ul class="list-unstyled my-5 text-small text-left font-weight-normal">
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Premier mois gratuit </li>
							<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Sans engagement </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> À Partir de 20 immeubles </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Accès à une messagerie par immeuble </li>
          		<li class="mb-3">
            		<i class="fa fa-check mr-2 text-primary"></i> Calendrier par immeuble et mutualisé </li>
        				</ul>
        				<a href="#" class="btn bt-theme btn-block p-2 shadow rounded-pill" style="background-color: #ff9F1C;">Inscrivez-vous</a>
      				</div>
    				</div>
  				</div>
 				</div>
			</div>
		</div>
	</div>
</section>

<%= button_to "Rejoignez-nous !", new_agency_registration_path, method: :get, class:"btn btn-block bt1-lp p-5 bt-landing mt-5", style:"border-radius: 0px; font-size: 50px;"%>
<a href="#" class="btn bt-theme btn-block p-3 shadow rounded-pill "></a>
  <div class="wrap text-center">
	<p class="mt-3">Contactez l'équipe mainhouse pour un plan personnalisé au 07.66.38.94.57</p>
	</div>
</html>
</body>